html
  background-color: $heavy-cream

body
  background: url('/img/bg.jpg') repeat

  @media screen and (min-width: $breakpoint-medium)
    margin: em(20) 0 em(20)
    border-top: 2px dashed $heavy-cream

.container
  min-width: em(320)
  max-width: em(926)
  margin: 0 auto
