.call-out
  margin: 1.3334em
  border: 2px solid transparentize($light-cream, 0.8)
  border-radius: 1em
  background: transparentize($another-brown, 0.2)
  color: $light-cream
  position: relative
  text-align: center
  padding-bottom: 1em

  h2
    margin-top: 1em
    width: 100%
    background: $dark-brown
    color: $heavy-cream
    text-transform: lowercase
    padding-top: 0.25em
    border-top: 2px dashed transparentize($another-brown, 0.1)
    border-bottom: 2px dashed transparentize($another-brown, 0.1)
    position: relative

    &:before, &:after
      content: ''
      width: 2px
      background-color: $dark-brown
      position: absolute
      top: 0
      bottom: 0

    &:before
      left: -2px

    &:after
      right: -2px

  p
    margin: 0 1em 1em

