.call-outs
  @media screen and (min-width: $breakpoint-large)
    display: flex
    background: transparentize($dark-brown, 0.4)
    border-top-right-radius: 1em
    border-top-left-radius: 1em
    padding-top: 1.25em
    margin-top: -1.5em

    .call-out
      flex: 1
      
  
