footer
  background: $heavy-cream
  border-top: 2px dashed $another-brown
  text-align: center
  padding: 2em 0 1em
  font-size: 0.9em

  a
    color: $reddish-brown
    padding: 0 1em
    border-right: 1px solid $reddish-brown
    font-weight: bold

    &:last-of-type
      border: 0

  p
    color: $reddish-brown
    margin: 1em 0

    a
      padding: 0
