.logo
  font: 4em/1.1 $secondary-font-family
  text-transform: lowercase
  color: $light-cream
  display: inline-block
  margin-bottom: 0.25em
  position: relative

  &:hover
    text-decoration: none

  span
    position: absolute
    right: 0
    display: block
    margin-top: -1.25em
    font: 0.25em $primary-font-family
    color: $heavy-cream
