nav
  @include clearfix

  
  input[type=checkbox]
    display: none

  label
    padding: 0 1.3334em
    color: $light-cream
    float: right

    &:before
      font-size: 2em
      content: '\2630'

  
  @media screen and (min-width: $breakpoint-medium)
    padding: 0 1.3334em

    label
      display: none

