.products
  p
    @include clearfix

    text-align: left
    border-top: 1px solid transparentize($light-cream, 0.7)
    padding-top: 1em

    &:first-of-type
      border: 0
      padding-top: 0

  img
    float: left
    margin: 0 1em 0 0
    border: 1px solid transparentize($light-cream, 0.7)

  b
    color: $heavy-cream
