.shopping-cart
  height: em(20)
  display: block
  line-height: em(20)
  font-size: 1.3em

  @media screen and (min-width: $breakpoint-medium)
    background: url('../img/cart.svg') no-repeat
    background-size: em(20) em(20)
    padding-left: 2.25em
