@media screen and (max-width: $breakpoint-small-max )
  @include burger('#burger', '.tabs')

.tabs
  clear: both
  margin-bottom: 1.3334em
  list-style: none

  a
    display: block
    color: $reddish-brown
    background: $light-cream
    padding: 0.6667em
    margin-bottom: 1px
    
    &:hover
      background: $heavy-cream


  @media screen and (min-width: $breakpoint-medium)
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: center
    justify-content: center
    margin-bottom: 0

    li
      height: em(45)
      display: inline-flex
      justify-content: center
      flex: 1
      text-align: center
      background: linear-gradient(to top, mix($heavy-cream, #000, 90%) 0%, $heavy-cream 100%)
      border-top-right-radius: 1em
      border-top-left-radius: 1em
      margin-right: 0.3334em

      &:last-child
        margin-right: 0

      &.active
        background: $light-cream

    a
      background: transparent
      display: inline-block
      align-self: center

      &:hover
        background: transparent
      

