$primary-font-family: 'Helvetica Neue', Arial, sans-serif;
$secondary-font-family: 'Karma', serif;

$font-size-base: 12;

$heavy-cream: #E7C98B;
$light-cream: #FAEFD9;
$reddish-brown: #804008;
$dark-brown: #26150E;
$another-brown: #49352C;

$link-color: $heavy-cream;

$normal-buttons: (
  normal: (
    color:      $reddish-brown,
    border:     2px solid $heavy-cream,
    background: linear-gradient(to bottom, mix($heavy-cream, #000, 90%) 0%, $heavy-cream 100%)
  )
  // hover: (
  //   color:            $blue-1,
  //   border-color:     $blue-2,
  //   background-color: $blue-3
  // ),
  // active: (
  //   color:            $white,
  //   border-color:     $blue-1,
  //   background-color: $blue-1
  // )
);

