div(role='banner')
  a.logo(href='/' ui-sref='application.index') Airtex
    span Filled with Pride

  a.shopping-cart(href='/shopping-cart' ui-sref='application.shopping-cart') View Cart

nav
  label(for='burger')
  input#burger(type='checkbox')

  ul.tabs
    li(ng-class='{active: $state.is("application.index")}')
      a(href='/' ui-sref='application.index') Home

    li(ng-class='{active: $state.is("application.about-us")}')
      a(href='/about-us' ui-sref='application.about-us') About Us

    li(ng-class='{active: $state.is("application.commercial-products")}')
      a(href='/commercial-products' ui-sref='application.commercial-products') Commercial & Industrial Products

    li(ng-class='{active: $state.is("application.retail-products")}')
      a(href='/retail-products' ui-sref='application.retail-products') Retail & Hobby Products

    li(ng-class='{active: $state.is("application.contact-us")}')
      a(href='/contact-us' ui-sref='application.contact-us') Contact Us

block content
  ui-view
    include _index.jade
