main(role='main')
  h1 Contact Us

  p
    b Mailing Address:
    br
    | 150 Industrial Park Road
    br
    | Cokato, MN 55321

  p
    b Phone: 
    | (800) 851-8887

  p
    b Fax: 
    | (320) 286-242

  p
    b Email: 
    a(href='mailto:customerservice@example.com') customerservice@airtex.com
