main(role='main')
  figure.hero
    img(src='img/hero.jpg')

    figcaption.caption When it comes from the heart, fill it with Airtex

.call-outs
  section.call-out
    h2 About Us

    p
      b Airtex Consumer Products
      | offers the crafting and quilting industries qualified filling and foam products supported with exceptional customer service, backed by a solid understanding of the pride and emotion that go into the successful completion of every project.

    a.button(href='/about-us' ui-sref='application.about-us') Read More

  section.products.call-out
    h2 Products

    p
      img(src='img/fiber-fill.jpg' alt='Premium Fiberfill polyester stuffing')

      b Fiberfill
      br
      | As name implies, Airtex Premium Fiberfill polyester stuffing...

    p
      img(src='img/pillow-forms.jpg' alt='Durable Premium Pillow Forms')

      b Pillow Forms
      br
      | Airtex full, durable Premium Pillow Forms maintain their shape...

    a.button(href='/retail-products' ui-sref='application.retail-products') Read More

  section.call-out
    h2 Contact Us

    p
      b Mailing Address:
      br
      | 150 Industrial Park Road
      br
      | Cokato, MN 55321

    p
      b Phone: 
      | (800) 851-8887

    p
      b Fax: 
      | (320) 286-242

    p
      b Email: 
      a(href='mailto:customerservice@example.com') customerservice@airtex.com

    a.button(href='/contact-us' ui-sref='application.contact-us') Read More
