

doctype html
html(ng-app='AirtexApp' data-preloaded)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')

    title
      block title
        = title || 'Airtex Consumer and Industrial products'

    - if(description)
      - var attributes = {content: description};
      meta(name='description')&attributes(attributes)

    meta(name='author' lang='en' content='Jed Foster')

    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    script.
      WebFontConfig = {
        google: { families: [ 'Karma:600:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();

    base(href='/')

    link(rel='stylesheet' href='css/styles.css')

    block css
      - if(css)
        != css

  body
    .container(ui-view)

      include _application.jade

    footer
      .container
        a(href='/' ui-sref='application.index') Home
        a(href='/about-us' ui-sref='application.about-us') About Us
        a(href='/commercial-products' ui-sref='application.commercial-products') Commercial & Industrial Products
        a(href='/retail-products' ui-sref='application.retail-products') Retail & Hobby Products
        a(href='/contact-us' ui-sref='application.contact-us') Contact Us

        p Airtex a Division of 
          a(href='http://airtex.com/') Federal Foam Technologies. Inc.

  script(src='js/app.js')

